//-
	This is the gallery view.
	Clicking a gallery item expands it to full width to show the full size image, with its title and description.

extends layout

block controls
	.wrapper
		nav#sort-options order by:
			a(href='/sort/popularity/descending') popularity
			a(href='/sort/date/ascending') date
			a(href='/sort/random') random

block content
	link(rel='stylesheet', href='/stylesheets/gallery.css')
	link(rel='stylesheet', href='/stylesheets/isotope-transitions.css')
	.wrapper
		div
			//- $(#gallery).parent() is a wrapper for #gallery, which will be resized to a multiple of the gallery item width, on $(window).resize().
			#gallery.floatfix
				- each image in images
					.gallery-item
						.centered
							if image.title
								.title
									h3= image.title
							img.gallery-image.thumbnail(src=image.thumb)
							img.gallery-image.large(src=image.filename)
							.description
								if image.description
									article!= image.description
								aside
									div Rank: 
										span.popularity= image.popularity
									div Uploaded: 
										span.upload-date= image.uploaded
									span.id.hidden= image.id
	script(src='/javascripts/gallery.js');
